//=================обнуления==============================================================================================================================================================================================================
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing:border-box; box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%; line-height:1; font-size: 14px; -ms-text-size-adjust:100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
a,a:visited{text-decoration: none;}
body{margin:0;padding: 0;}
h1,h2,h3,h4,h5,h6,p,img{ padding: 0; margin: 0; font-size:14px;font-weight: inherit;}
ul li{list-style: none; padding: 0;margin:0; display: block;}
a{text-decoration: none; padding: 0; margin:0; display: block;}
button{cursor: pointer;padding:0;margin: 0;border:0;}
input::-ms-clear{display: none;}
button::-moz-focus-inner{padding:0;border:0;}
img{vertical-align: top;}
//=================================================================================================================================================================
.wrapper{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	.main{
		flex: 1 1 100%;
	}
}


//=================   Шрифты    ==============================================================================================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700&display=swap');
@font-face {
	font-family: 'Banny-Round';
	src: url('../fonts/Banny-Round.eot');
	src: local('☺'), url('../fonts/Banny-Round.woff') format('woff'), url('../fonts/Banny-Round.ttf') format('truetype'), url('../fonts/Banny-Round.svg') format('svg');
	font-weight: normal,700;
	font-style: normal;
}
//================   Основной Шрифт    =================================================================================================================================================================================================
body{font-family:'Open Sans'; font-weight: 400;min-height: 100vh;}
//================  Переменные Брэйкпоинты  ==========================================================================================================================================================================================
$md1:1250px;
$md1_1:1200px;
$md2:991px;
$md3:767px;
$md4:575px;
//==============================   Основная сетка БрейкПоинтов   ======================================================================================================================================================================
.conteiner{
	max-width: 1300px;
	margin: 0 auto;
	justify-content: center;
	padding: 0 10px 0 10px;
}

//================================ Технические стили =================================================================================================================================
.btn{
	a{
		display: block;
		font-weight: 700;
		font-size: 12px;
		line-height: 20 / 12 * 100%;
		color: #fff;
		padding: 25px 62px;
		background-color: #E8C300;
		border-radius: 5px;
		transition: .6s ease;
		border: 1px solid #81808000;
		&:hover{
			background-color: #e8c10000;
			border: 1px solid #818080;
		}
		@media (max-width: $md1){
			padding: 15px 32px;
			font-size: 11px;
		}
		@media (max-width: $md4){
			padding: 15px 27px;
			font-size: 11px;
		}
	}
}
.title_h2{
	position: relative;
	text-align: center;
	margin: 0px 0px 20px 0px;
	h2{
		font-family: 'Banny-Round';
		font-weight: 700;
		font-size: 36px;
		line-height: 48 / 36 * 100%;
		text-transform: uppercase;
		color: #000;
		margin: 0px 0px 20px 0px;
	}
	&::after{
		content: '';
		position: absolute;
		bottom: 0px;
		width: 59px;
		height: 5px;
		background-color: #E8C300;
		left: 50%;
		transform:translate(-50%, -50%);
		border-radius: 10px;
	}
}
.sub__title__h2{
	text-align: center;
	 margin: 0px 0px 30px 0px;
		span{
			font-weight: 700;
			font-size: 18px;
			line-height: 28 / 18 * 100%;
		}
}
.yellow__box{
	position: relative;
		&::after{
		content: '';
		position: absolute;
		top: 25%;
		right: 1%;
		width: 19.2%;
		height: 52.6%;
		border: 20px solid #E8C300;
		border-radius: 5px;
	}
	@media (max-width: $md1_1){
		&::after{
			top: 50%;
			right: 19%;
			width: 250px;
			height: 250px;
		}
	}
	@media (max-width: $md2){
		&::after{
			top: 50%;
			right: 10%;
			width: 250px;
			height: 250px;
		}
	}
	@media (max-width: $md3){
		&::after{
			display: none;
		}
	}
}
.spec__title{
	text-align: center;
	margin: 0px 0px 45px 0px;
	h3{
		font-weight: 700;
		font-size: 12px;
		line-height: 14 / 12 * 100%;
		letter-spacing: 8px;
		text-transform: uppercase;
		color: #fff;
	}
}
.sec__content__revers{
    display: flex;
    flex-direction: row-reverse;
    //!Left side
    .lef_si{
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0px 0px 0px 50px;
		.title_h2{
            h2{
                color: #fff;
            	}
       	 }
        .lef_si--text{
            margin: 0px 0px 30px 0px;
            span{
            font-weight: 700;
            font-size: 18px;
            line-height: 28 / 18 * 100%;
		  color: #FDFDFD;
            }
        }
        .lef_si--info__text{
            span{
                font-size: 12px;
                line-height: 24 / 12 * 100%;
            }
        }
    }
    //!Right side
    .rig_si{
        flex: 0 1 50%;
        display: flex;
        justify-content: flex-end;
        padding: 0px 45px 0px 0px;
        .rig_si--img{
            width: 475px;
            padding: 0 0 79.1% 0;
            filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
            border-radius: 8px;
        }
    }
    @media (max-width: $md1_1){
        &{
           flex-direction: column;
           .lef_si,
            .rig_si{
                padding: 0px 0px 0px 0px;
            }
            .lef_si{
                margin: 0px 0px 40px 0px;
            }
            .lef_si{
                .lef_si--text,
                .lef_si--info__text{
                    margin: 0 auto;
                    span{
                        display: block;
                        max-width: 800px;
                        margin: 0px 0px 20px 0px;
                    }
                }
            }
            .rig_si{
                justify-content: center;
                .rig_si--img{
                    width: 475px;
                    padding: 0 0 450px 0;
                }
                @media (max-width: $md3){
                    .rig_si--img{
                        padding: 0 0 350px 0;
                    }
                }
                @media (max-width: $md4){
                    .rig_si--img{
                        padding: 0 0 70% 0;
                    }
                }
            } 
        } 
    }
} 
//============================== ibg===================================================================================================================================
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.ibg img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
//==============================  Миксины  ===========================================================================================================================================================================================
%padding__block{
	padding: 100px 0px;
	@media (max-width: $md1_1){
		padding: 45px 0px;
	}
}
%padding__block__revers{
	padding: 45px 0px 100px 0px;
	@media (max-width: $md1_1){
		padding: 45px 0px;
	}
}
%bg__block{
	background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
	color: #fff;
}
