//подключён обнуляющий список,шрифты
@import "_nullstyle";
@import "_header";//<section id="header">
@import "_footer";//<section id="footer">
// @import "_data_piker";//_data_piker
@import "_mixins";//Миксины
@import "_popup";//Миксины
//===================== first__page ====================================
.first__page{
   @extend %bg__block;
   padding: 323px 0px 220px 0px;
   min-width: 100vw;
   min-height: 100vh;
   color: #fff;
   z-index: 0;
   .first__page__content{
    display: flex;
    justify-content: space-between;
    //!timetable CONTENT
    .timetable{
        position: relative;
        flex: 0 1 54px;
        min-height: 255px;
        &::after{
            content: '';
            position: absolute;
        }
        .timetable__text{
            position: relative;
            span{
                display: inline-block;
                position: absolute;
                min-width: 300px;
                top: 130px;
                left: -258%;
                transform: rotate(-90deg);
                @media (max-width: $md1){
                    align-items: center;
                    text-align: center;
                    width: 70%;
                    top: 0;
                    left: 50%;
                    transform: rotate(0deg);
                    transform:translate(-50%, -50%);
                }
            }
        }
        @media (max-width: $md1){
            flex: 0 1 auto;
            min-height: 0px;
            margin: 0px 0px 20px 0px;
        }
    }
    //!CENTER CONTENT
    .fp__content__center{
        flex: 0 1 100%;
        color: #fff;
        text-align: center;
        .first__page__content-pre_title{
            margin: 0px 0px 21px 0px;
            @media (max-width: $md4){
                margin: 0px 0px 15px 0px;
            }
            span{
                font-weight: 700;
                font-size: 12px;
                line-height: 14 / 12 * 100%;
                letter-spacing: 6px;
                margin: 0px 0px 0px 14px;
                @media (max-width: $md4){
                    font-size: 10px;
                }
            }
        }
        .first__page__content-title{
            position: relative;
            padding: 0px 0px 40px 0px;
            margin: 0px 0px 31px 0px;
            z-index: 0;
            &::after{
                content: '';
                position: absolute;
                width: 60px;
                height: 6px;
                background-color: #E8C300;
                border-radius: 10px;
                bottom: 0;
                left:50.2%;
                transform:translate(-50%, -50%);
                z-index: 0;
                @media (max-width: $md1){
                    bottom: 25px;
                    height: 4px;
                }
            }
            h1{
                font-family: 'Banny-Round';
                font-weight: 400;
                font-size: 90px;
                text-transform: uppercase;
                @media (max-width: $md1){
                    font-size: 60px;
                }
                @media (max-width: $md4){
                    font-size: 35px;
                }
            }
        }
        .first__page__battons{
            justify-content: center;
            display: flex;
            margin: 0px 0px 0px 9px;
            @media (max-width: $md4){
                margin: 0px 0px 0px 0px;
            }
            .btn_page_first{
                margin: 0px 40px 0px 0px;
            }
            .btn_page_seccond{
                min-width: 200px;
                a{
                    background-color: #e8c10000;
                    border: 1px solid #818080;
                    &:hover{
                        &:hover{
                            background-color: #e8c100;
                            border: 1px solid #81808000;
                        }
                    }
                }
                @media (max-width: $md1){
                    min-width: 134.8px;
                }
                @media (max-width: $md1){
                    min-width: 124.8px;
                }
            }
        }
        @media (max-width: $md1){
            flex: 0 1 auto;
        }
    }
    //!SOCIAL content
    .fp__content__social{
        display: flex;
        align-items: center;
        .social__img{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #818080;
            border-radius: 50%;
            margin: 0px 0px 40px 0px;
            transition: .6s ease;
            &:last-child{
                margin: 0px 0px 0px 0px;
            }
            &:hover{
                background-color: #e8c100;
            }
        }
        a{
            padding: 19px;
            img{
                width: 20px;
                height: 20px;
            }
        }
        @media (max-width: $md1){
            &{
                justify-content: center;
                margin: 40px 0px 100px 9px;
            }
            .social{
                display: flex;
                align-items: baseline;
            }
            .social__img{
                margin: 0px 30px 0px 0px;
                &:last-child{
                    margin: 0px 0px 0px 0px;
                }
                 a{
                    padding: 12px;
                    img{
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
   }
}
 @media (max-width: $md1){
    .first__page{
        padding: 180px 0px 0px 0px;
    }
    .first__page__content{
        flex-direction: column;
    }
    .timetable{
        order: 3;
    }
    .fp__content__center{
        order: 1
    }
    .fp__content__social{
        order: 2;
    }
}
//======================= About ==========================================================================================================================================
.about{
   @extend %padding__block;
}
.sec__content{
    display: flex;
    //!Left side
    .lef_si{
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0px 50px 0px 0px;
        .lef_si--text{
            margin: 0px 0px 30px 0px;
            span{
                font-weight: 700;
                font-size: 18px;
                line-height: 28 / 18 * 100%;
            }
        }
        .lef_si--info__text{
            span{
                font-weight: 400;
                font-size: 12px;
                line-height: 24 / 12 * 100%;
            }
        }
    }
    //!Right side
    .rig_si{
        flex: 0 1 50%;
        display: flex;
        padding: 0 0 0 40px;
        .rig_si--img{
            width: 475px;
            padding: 0 0 79.1% 0;
            filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
            border-radius: 8px;
        }
    }
    @media (max-width: $md1_1){
        &{
           flex-direction: column;
           .lef_si,
            .rig_si{
                padding: 0px 0px 0px 0px;
            }
            .lef_si{
                margin: 0px 0px 40px 0px;
            }
            .lef_si{
                .lef_si--text,
                .lef_si--info__text{
                    margin: 0 auto;
                    span{
                        display: block;
                        max-width: 800px;
                        margin: 0px 0px 20px 0px;
                    }
                }
            }
            .rig_si{
                justify-content: center;
                .rig_si--img{
                    width: 475px;
                    padding: 0 0 450px 0;
                }
                @media (max-width: $md3){
                    .rig_si--img{
                        padding: 0 0 350px 0;
                    }
                }
                @media (max-width: $md4){
                    .rig_si--img{
                        padding: 0 0 70% 0;
                    }
                }
            } 
        } 
    }
} 
//======================= Our ==========================================================================================================================================
.our{
    @extend %bg__block;
    @extend %padding__block__revers;
    .yellow__box{
        &::after{
            top: 32%;
            left: 1%;
            width: 19.2%;
            height: 47%;
        }
        @media (max-width: $md1_1){
            &::after{
                top: 50%;
                left: 19%;
                width: 250px;
                height: 250px;
            }
        }
        @media (max-width: $md2){
            &::after{
                top: 50%;
                left: 10%;
                width: 250px;
                height: 250px;
            }
        }
        @media (max-width: $md3){
            &::after{
                display: none;
            }
        }
    }
}
.sec__content__revers{
    display: flex;
    flex-direction: row-reverse;
    //!Left side
    .lef_si{
        flex: 0 1 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0px 0px 0px 50px;
		.title_h2{
            h2{
                color: #fff;
            	}
       	 }
        .lef_si--text{
            margin: 0px 0px 30px 0px;
            span{
            font-weight: 700;
            font-size: 18px;
            line-height: 28 / 18 * 100%;
		  color: #FDFDFD;
            }
        }
        .lef_si--info__text{
            span{
                font-size: 12px;
                line-height: 24 / 12 * 100%;
            }
        }
    }
    //!Right side
    .rig_si{
        flex: 0 1 50%;
        display: flex;
        justify-content: flex-end;
        padding: 0 40 0 0px;
        .rig_si--img{
            width: 475px;
            padding: 0 0 79.1% 0;
            filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, 0.5));
            border-radius: 8px;
        }
    }
    @media (max-width: $md1_1){
        &{
           flex-direction: column;
           .lef_si,
            .rig_si{
                padding: 0px 0px 0px 0px;
            }
            .lef_si{
                margin: 0px 0px 40px 0px;
            }
            .lef_si{
                .lef_si--text,
                .lef_si--info__text{
                    margin: 0 auto;
                    span{
                        display: block;
                        max-width: 800px;
                        margin: 0px 0px 20px 0px;
                    }
                }
            }
            .rig_si{
                justify-content: center;
                .rig_si--img{
                    width: 475px;
                    padding: 0 0 450px 0;
                }
                @media (max-width: $md3){
                    .rig_si--img{
                        padding: 0 0 350px 0;
                    }
                }
                @media (max-width: $md4){
                    .rig_si--img{
                        padding: 0 0 70% 0;
                    }
                }
            } 
        } 
    }
} 
//======================= book ==========================================================================================================================================
.book{
    @extend %padding__block;
    .yellow__box{
		&::after{
		    height: 47%;
	    }
        @media (max-width: $md1_1){
            &::after{
                display: none;
            }
        }
    }
    .sec__content{
        margin: 0px 0px 45px 0px;
        @media (max-width: $md1_1){
            margin: 0px 0px 0px 0px;
        }
        .lef_si{
            padding: 0px 21px 0px 0px;
            @media (max-width: $md1_1){
                padding: 0px 0px 0px 0px;
            }
        }
        .rig_si{
            @media (max-width: $md1_1){
                display: none;
            }
        }
        .form__body{
            display: flex;
            flex-direction: column;
            @media (max-width: 600px){
                width: 100%;
                .input__name,
                .input__mail,
                .input__phone,
                .select__people,
                .date,
                .time{
                    width: 90%;
                }
            }
            @media (max-width: 400px){
                .input__name,
                .input__mail,
                .input__phone,
                .select__people,
                .date,
                .time{
                    width: 100%;
                }
            }
            input,
            label{
                display: block;
                padding: 23px 10px 25px 20px;
                background-color: #E5E5E5;
                border-radius: 5px;
                color: #000;
                min-width: 277px;
                margin: 5px;
                cursor: pointer;
                &::placeholder{
                    color: #8C8C8C;
                }
                @media (max-width: 600px){
                    width: 100%;
                    margin: 5px 0px 5px 0px;
                }
            }
            .form_up,
            .form_medium,
            .form_footer{
                display: flex;
                justify-content: center;
                @media (max-width: 600px){
                    flex-direction: column;
                    align-items: center;
                }
            }
            .form_up{
                .input__name{
                    input{
                        
                    }
                }
            }
            .form_medium{
                .select__people select{
                    display: none;
                }
                .custom-select {
                position: relative;
                    .select-selected {
                        min-width: 277px;
                        color: #8C8C8C;
                        background-color: #E5E5E5;
                        border-radius: 5px;
                        margin: 5px;
                        border: none;
                        text-align: left;
                        @media (max-width: 600px){
                            margin: 5px 0px 5px 0px;
                        }
                    }
                    /* Style the arrow inside the select element: */
                    .select-selected:after {
                        position: absolute;
                        content: "";
                        top: 32px;
                        right: 20px;
                        width: 13px;
                        height: 9px;
                        background:url('../img/arrow-grey.svg') no-repeat top/cover;
                        transition: .2s ease;
                    }
                    /* Point the arrow upwards when the select box is open (active): */
                    .select-selected.select-arrow-active:after {
                        transform: rotate(180deg);
                    }
                    /* style the items (options), including the selected item: */
                    .select-items div,
                    .select-selected {
                        color: #8C8C8C;
                        padding: 23px 20px 30px 20px;
                        cursor: pointer;
                    }
                    /* Style items (options): */
                    .select-items {
                        position: absolute;
                        background-color: #E5E5E5;
                        top: 89%;
                        left: 5px;
                        right: 0;
                        z-index: 10;
                        border-radius: 7px;
                        width: 277px;
                        @media (max-width: 600px){
                            width: 100%;
                        }
                    }
                    /* Hide the items when the select box is closed: */
                    .select-hide {
                        display: none;
                    }
                    .select-items div:hover, .same-as-selected {
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                } 
            }
            .form_footer{
                .date{
                    .label_date{
                        width: 277px;
                        display: block;
                        width: 277px;
                        margin: 5px;
                        padding: 23px 0px 31px 20px;
                        text-align: left;
                        color: #8C8C8C;
                        z-index: 20;
                        @media (max-width: 600px){
                            margin: 5px 0px;
                            width: 100%;
                        }
                    }
                    .label_date.active{
                        display: none;
                    }
                    .input_date{
                        width: 277px;
                        z-index: 1;
                        display: none;
                        color: #8C8C8C;
                    }
                    .input_date.active{
                        display: block;
                    }
                } 
                .time{
                    .label_time{
                        position: relative;
                        width: 277px;
                        display: block;
                        width: 277px;
                        margin: 5px;
                        padding: 23px 0px 31px 20px;
                        text-align: left;
                        color: #8C8C8C;
                        z-index: 1;
                        @media (max-width: 600px){
                            margin: 5px 0px;
                            width: 100%;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            top: 26px;
                            right: 15px;
                            width: 13px;
                            height: 9px;
                            background:url('../img/arrow-grey.svg') no-repeat top/cover;
                            transition: .2s ease;
                        }
                    }
                    .label_time.active{
                        display: none;
                    }
                    .input_time{
                        width: 277px;
                        z-index: 1;
                        display: none;
                        color: #8C8C8C;
                    }
                    .input_time.active{
                        display: block;
                    }
                } 
            }
        }
        .form__btn{
            margin: 5px 0px 0px 0px;
            .btn{
                min-width: 564px;
            }
            a:hover{
                color: #000;
            }
            @media (max-width: 600px){
                display: block;
                margin: 5px 0px;
                width: 100%;
                .btn{
                    min-width: 90%;
                }
            }
             @media (max-width: 400px){
                .btn{
                    min-width: 100%;
                }
            }
        }
    }
    .book__info{
        text-align: center;
        p{
            font-weight: 400;
            font-size: 12;
            line-height: 18 / 12 * 100%;
            color: #999;
        }
        span,
        a{
            display: inline-block;
            font-weight: 700;
            color: #999;
            transition: .6s ease;
        }
        a:hover{
            color: #E8C300;
        }
        @media (max-width: 600px){
            width: 100%;
        }
    }
}
//======================== specialties =========================================================================================================================================
.specialties{
    @extend %bg__block;
    @extend %padding__block__revers;
    .title_h2{
        h2{
            color: #fff;
        }
    }
    .rig_si{
        .rig_si--img{
            &::after{
                content: '';
                position: absolute;
                top: 25%;
                left: -25%;
                width: 52.6%;
                height: 53.1%;
                border: 20px solid #E8C300;
                border-radius: 5px;
                @media (max-width: $md1_1){
                        top: 17%;
                        right: 19%;
                        width: 250px;
                        height: 250px;
                }
                @media (max-width: $md2){
                        top: 17%;
                        right: 10%;
                }
                @media (max-width: $md3){
                    display: none;
                }
            }
        }
    }
    .sec__content__revers{
    @media (max-width: 1300px){
        &{
           flex-direction: column;
           .lef_si,
            .rig_si{
                padding: 0px 0px 0px 0px;
            }
            .lef_si{
                margin: 0px 0px 40px 0px;
            }
            .lef_si{
                .lef_si--text,
                .lef_si--info__text{
                    margin: 0 auto;
                    span{
                        display: block;
                        max-width: 800px;
                        margin: 0px 0px 20px 0px;
                    }
                }
            }
            .rig_si{
                justify-content: center;
                .rig_si--img{
                    width: 475px;
                    padding: 0 0 450px 0;
                }
                @media (max-width: $md3){
                    .rig_si--img{
                        padding: 0 0 350px 0;
                    }
                }
                @media (max-width: $md4){
                    .rig_si--img{
                        padding: 0 0 70% 0;
                    }
                }
            } 
        } 
    }
    }
}
.specialties__swiper{
    width: 100%;
    height: 530px;
    @media (max-width: 1300px){
        height: 780px;
    }
    @media (max-width: $md3){
        height: 680px;
    }
    @media (max-width: $md4){
        height: 720px;
    }
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet{
        margin: 0px 12.5px 0px 12.5px;
    }
    .swiper-pagination-bullet{
        background-color: #fff;
        width: 10px;
        height: 10px;
        opacity: .5;
    }
    .swiper-pagination-bullet-active{
        background-color: #fff;
        opacity: 1;
    }
}
//========================= sec_menu ========================================================================================================================================
.sec_menu{
    @extend %padding__block;
    .title_h2{
        text-align: center;
        &::after{
            bottom: -20px;
        }
    }
    .sec_menu__text{
        text-align: center;
        margin: 40px 0px 0px 0px;
        span{
            display: block;
            margin: 0 auto;
            max-width: 565px;
            font-weight: 700;
            font-size: 18px;
            line-height: 28 / 18 * 100%;
            color: #000;
        }
    }
    .sec_menu__content{
        margin: 50px 0px 0px 0px;
        @media (max-width: 900px){
            margin: 10px 0px 0px 0px;
        }
        .sec_menu__filter{
            .filter__menu{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                .filter__btn{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 120px;
                    min-height: 50px;
                    text-align: center;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 18 / 12 * 100%;
                    color: #333;
                    transition: .6s ease;
                    margin: 0px 0px 20px 0px;
                    &:hover{
                        background-color: #E8C300;
                        cursor: pointer;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 1px;
                        height: 100%;
                        background-color: #D6D6D6;
                        transition: .6s ease;
                    }
                    &:last-child::after{
                        display: none;
                        @media (max-width: 860px){
                            display: block;
                        }
                    }
                    &:hover::after{
                        opacity: 0;
                    }
                }
            }
            #restoran_products{
                display: flex;
                flex-wrap: wrap;
                margin: 0px -45px;
                .restoran_product{
                    flex: 0 1 33.3333%;
                    padding: 0px 45px;
                    margin: 0px 0px 35px 0px;
                    .info_up{
                        display: flex;
                        .food_name{
                            flex: 0 1 67%;
                        }
                        .prise{
                            flex: 0 1 33%;
                        }
                    }
                    span{
                        font-family: 'Banny-Round';
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 23 / 18 * 100%;
                        color: #333;
                        text-transform: uppercase;
                    }
                    p{
                        font-size: 12px;
                        line-height: 18 / 12 * 100%;
                        color: #999;
                        text-transform: none;
                        padding: 0px 20px 0px 0px;
                    }
                }
                @media (max-width: 1390px){
                    margin: 0 0px;
                    .restoran_product{
                        flex: 0 1 50%;
                        padding: 0px 15px;
                        .info_up{
                            .prise{
                                text-align: right;
                            }
                        }
                    }
                }
                 @media (max-width: 900px){
                     flex-direction: column;
                     max-width: 600px;
                     margin: 0 auto;
                    .restoran_product{
                        padding: 0px 15px;
                        margin: 0px 0px 0px 0px;
                        .info_up{
                            .prise{
                                text-align: right;
                            }
                        }
                        p{
                            position: relative;
                            &::after{
                                content: '';
                                position: absolute;
                                bottom: -2px;
                                right: 50%;
                                transform: translate(50%,0);
                                width: 50%;
                                border: 1px dashed #999;
                                opacity: .2;
                            }
                        }
                    }
                }
                @media (max-width: $md4){
                    .restoran_product{
                        padding: 0px 0px 0px 0px;
                    }
                }
                @media (max-width: 400px){
                    .restoran_product{
                        span{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
//========================= privat ========================================================================================================================================
.privat{
    @extend %bg__block;
    padding: 45px 0px;
    .conteiner{
        position: relative;
    }
    .center_line,
    .line_left,
    .line_right{
        height: 100%;
        width: 100%;
        &::before{
            content: '';
            position: absolute;
            top: -8%;
            height: 116%;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
    .center_line{
        &::before{
            left: 50%;
            transform: translate(-50%);
        }
    }
    .line_left{
        &::before{
            left: 17%;
        }
    }
    .line_right{
        &::before{
            right: 17%;
        }
    }
    //=================
    .privat__content{
        display: flex;
        margin: 0px -40px;
        .privat--img{
            width: 475px;
            padding: 0px 0px 65.8% 0px;
            border-radius: 5px;
        }
        .privat_left,
        .privat__right{
            padding: 0px 40px;
            display: flex;
            flex: 0 1 50%;
        }
        .privat_left{
            justify-content: flex-end;
        }
        //??Yellow box====================
        .privat__lef__black,
        .privat__rig__black{
              &::before{
                content: '';
                position: absolute;
                top: 22%;
                width: 52.6%;
                height: 56.1%;
                border: 20px solid #E8C300;
                border-radius: 5px;
                @media (max-width: $md1_1){
                        top: 17%;
                        right: 19%;
                        width: 250px;
                        height: 250px;
                }
                @media (max-width: $md2){
                        top: 17%;
                        right: 10%;
                }
                @media (max-width: $md3){
                    display: none;
                }
            }
        }
        .privat__lef__black{
            &::before{
                left: -25%;
            }
        }
        .privat__rig__black{
            &::before{
                right: -25%;
            }
        }
        //?====================================
        .blac_line_left,
        .blac_line_right{
            position: relative;
            background-color: #000;
            min-height: 80px;
            display: flex;
            align-items: center;
            width: 101%;
            padding: 0px 20px;
        }
        .blac_line_left{
            top: 197px;
            right: -196px;
            transform: rotate(90deg);
        }
        .blac_line_right{
            transform: rotate(-90deg);
            top: 197px;
            left: -200px;
        }
        .privat_left,
        .privat__right{
            span{
                display: block;
                width: 100%;
                font-family: 'Banny-Round';
                font-weight: 700;
                font-size: 24px;
                line-height: 24 / 24 * 100%;
                color: #fff;
                text-transform: uppercase;
                z-index: 1;
            }
        }
        .privat_left{
            span{
                top: 15%;
                right: -20px;
            }
        }
        .privat__right{
            span{
                left: -42%;
                bottom: 17%;
            }
        }
    }
    //===================
    .privat__contacts{
        display: flex;
        justify-content: center;
        margin: 45px 0px 0px 0px;
        font-size: 12px;
        line-height: 12 / 12 * 100%;
        opacity: .4;
        color: #fff;
        a{
            display: inline-block;
            font-weight: 700;
            color: inherit;
        }
    }
//===========================================
    @media (max-width: 1400px){
        .privat__content{
            flex-direction: column;
            margin: 0px 0px 0px 0px;
            .privat_left,
            .privat__right{
                flex: 0 1 100%;
                padding: 0px 0px 0px 0px;
            }
            .privat--img{
                margin: 15px 0px;
                padding: 0px 0px 396px 0px;
            }
        }
    }
    @media (max-width: 970px){
        .privat__content{
            align-items: center;
        }
    }
    @media (max-width: 600px){
        .privat__contacts{
            text-align: center;
            line-height: 24 / 12 * 100%;
        }
    }
    @media (max-width: 500px){
        .privat__content{
            display: block;
            .privat--img{
                padding: 0px 0px 70% 0px;
                overflow: hidden;
            }
             .blac_line_right,
             .blac_line_left{
                position: absolute;
                text-align: center;
                 top: 38%;
            }
            .blac_line_left{
                right: -42.2%;
                width: 100%;
            }
            .blac_line_right{
                left: -42.2%;
            }
            .privat_left,
            .privat__right{
                span{
                    font-size: 18px;
                }
            }
        }
    }
}
//========================== gelary =======================================================================================================================================
.gelary{
    background-color: #000;
    @media (min-width: 1440px){
        .gelary__body{
            display: flex;
            justify-content: center;
            .gelary__photo{
                width: 50%;
                height: 360px;
            }
        }
    }
    @media (max-width: 1440px){
        .gelary__body{
            display: flex;
            justify-content: center;
            .gelary__photo{
                width: 360px;
                padding: 0px 0px 25% 0px;
            }
        }
    }
    @media (max-width: 767px){
        .gelary__body{
            flex-wrap: wrap;
            .gelary__photo{
                flex: 0 1 50%;
                padding: 0px 0px 35% 0px;
            }
        }
    }
}
//========================= contact-page =======================================================================================================================================
.contact-page{
    @extend %padding__block;
    .title_h2{
        margin: 0px 0px 36px 0px;
        &::after{
            bottom: -20px;
        }
    }
    .sub__title__h2{
        max-width: 565px;
        margin: 0 auto;
    }
}